// #HEADER
header.header
    nav.nav.nav--title
        .header__logo
            a(href='/')
                img(src='/img/IP4IT_logo.png' alt='IP4IT')
    nav.nav.right
        if user
            a.nav__el.nav__el--logout(href='/admin') Admin
            a.nav__el.nav__el--logout#btnLogout(href='#') Log out
            //- a.nav__el(href='')
            //-     span= user.name.split(' ')[0]

        else
            a.btn.nav__el(href='/login') Log In
            a.btn.nav__el(href='/signup') Sign Up