doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet' href='/css/style.css')
            script(defer type='module' src='/js/index.js')

            <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0' />


            title IP4IT Requests | #{title}
            link(rel='icon' type='image/x-icon' href='./img/favicon.ico')


    body
        // #Header
        include _header
        
        // #CONTENT
        block content
            h1 This is a placeholder Heading

        // #Footer
        include _footer

        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')
