extends base

block content
    main.pagewrap
        if user
            include requests
        else
             h1.section__title Welcome to Geneva Business News.
             h3.section__subtitle Please Log in to have access.