extends base

block content
    main.pagewrap
        .section
            h2.section__title Log into your account
            form.form.form--login
                .form__group
                    label.form__label(for='email') Email
                    input#email.form__input(type='email', placeholder='you@example.com' required)
                .form__group
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••' minlength='4' required)
                .form__footer
                    button.btn Login