
block content
    main
        div 
            a.btn(href='#') New Request
        div
            table
                tr
                    th: span Time
                    th: span Name
                    th: span Hardware
                    th: span Status
                tr
                    td: span 10:00
                    td: span Filipe
                    td: span HS-01
                    td: span Open