extends base

block content
    main.pagewrap
        .section
            h2.section__title Signup
            form.form.form--signup
                .form__group
                    label.form__label(for='name') Name
                    input#name.form__input(type='text', placeholder='Please insert your name' required)
                .form__group
                    label.form__label(for='email') Email
                    input#email.form__input(type='email', placeholder='you@example.com' required)
                .form__group
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••' minlength='4' required)
                .form__group
                    label.form__label(for='passwordConfirm') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••' minlength='4' required)
                .form__footer
                    button.btn Signup